node_modules
packages/*/dist
examples/*/dist
examples/api/prisma/database.db
packages/*/apiReportTemp
*.env
.env.*
*.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
